<!DOCTYPE html>
<html>
	<head>
		
		{% load static %}

		<meta charset="UTF-8"/>
		<title>Inicio</title>

		<link rel="icon" href="{% static "/imagenes/logo.PNG"%}"/>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2/dist/sweetalert2.all.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2/dist/sweetalert2.min.css">
		
		<script>
            const botonCerrarSesion = () => {
                Swal.fire({
					title: '¿Esta Seguro?',
					text: "Debera iniciar sesion nuevamente!",
					icon: 'question',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Aceptar',
					cancelButtonText: 'Cancelar'
				  }).then((result) => {
					if (result.isConfirmed) {
						window.location.href = "/logout";
					}
				  })
            }
            
        </script>

	</head>
<body class="bg-white">
	
	<div>		
		<nav class="navbar navbar-expand-lg bg-danger" style="width:100%%" />
		  	<div class="container-fluid">

				<a href="/menu_directora">
					<img src="{% static "/imagenes/imagen1.PNG"%}" width="250px" style="margin-right:10px;" alt="No Encontrada"/>
				</a>

				<span class="navbar-brand text-white" style="margin-right:100px">Menu {{ nomUsuario }}</span>
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link text-center text-white" href="/menu_directora">Inicio</a>
						<a class="nav-link text-center text-white" href="/visuzalizar_disponibilidad" style="border-left: 1px solid rgb(255, 255, 255);">Listar Disponibilidad</a>
                        <a class="nav-link text-center text-white" href="/visualizar_horarios" style="border-left: 1px solid rgb(255, 255, 255);">Horarios Cursos</a>
						<a class="nav-link text-center text-white" href="/visualizar_horarios_profesores" style="border-left: 1px solid rgb(255, 255, 255);">Horarios Profesores</a>
						<a class="nav-link text-center text-white" href="/visualizar_historial" style="border-left: 1px solid rgb(255, 255, 255);">Historial de Acciones</a>
						<a class="nav-link text-center text-white" href="#" onClick="botonCerrarSesion()" style="border-left: 1px solid rgb(255, 255, 255);">Cerrar Sesión</a>					
					</div>
				</div>
		  	</div>
		</nav>
		  
	</div>
	<img src="{% static "/imagenes/Baner01.PNG"%}" style="margin-left:320px; margin-top:30px" alt="No Encontrada"/>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	
</body>
</html>